*.iml
*.ipr
*.iws
classes
build
.*
target
*.log
*.springBeans
dist
gensrc
maven-eclipse.xml
projectFilesBackup
logs
bin
work
reports
/config/profiles/User.properties
ui/front-end/src/main/webapp/WEB-INF/faces-config.xml
/1
config/profiles/Developer.properties
dao/.project
dao/.project
dao/.project
dao/.settings/org.eclipse.jdt.core.prefs
domains/.project
domains/.settings/org.eclipse.jdt.core.prefs
